@import '/styles/nav.css';

body { 
  box-sizing: border-box;
 
  background: url(https://cmkt-image-prd.freetls.fastly.net/0.1.0/ps/641129/910/607/m1/fpnw/wm0/1503.m00.i121.n039.p.c25.193984025-bubbles-in-water-on-blue-background-horizontal-seamless-pattern-.jpg?1441459517&s=a2fd8059dcce6d4c6aac807ebc87efd3);
  background-size: cover;
  color: white;
  text-shadow: black 1px 1px 1px;
}

.title{
  text-align: center;
letter-spacing: 10px;
word-spacing: 20px;
}

.content {
  display: flex;
  flex-wrap: wrap;
}

img {
  max-width: 100%;
}

.highlightFish {
  background-color: darkgoldenrod;
  color: lightgoldenrodyellow;
}
.tipHighlight{
border: 2px solid goldenrod;
border-radius: 30px;
}

.fishies {
  display: flex;
  flex-wrap: wrap;
  flex-basis: 68%;
  justify-content: space-evenly;
}

.fishies__card {
  flex-basis: 28%;
  width: 28%;
  border: 2px solid blue;
  padding: 0 8px;
  margin: 0 4px;
  margin-bottom: 8px;
  border-radius: 30px;
  text-align: center;
}

aside{
  flex-basis: 30%;
  border: 2px solid blue;
  padding: 0 5px;
  border-radius: 30px;
}

@media (max-width: 600px) {
  .fishies {
     flex-basis: 100%;
  }

  aside {
     flex-basis: 100%;
  }
}